{{> header}}

<h1 style="text-align:center;">OmNomNom Foods Order System</h1>

{{#errors}}
    <p>{{errors}}</p>
{{/errors}}

<table>
    <tr>
        <th>Customer Name</th>
        <th>Customer Phone</th>
        <th>Foods Ordered</th>
        <th>Status</th>
        <th>Actions</th>
    </tr>
    {{#orders}}
    <tr>
        <td>{{name}}</td>
        <td>{{phone}}</td>
        <td>{{items}}</td>
        <td>{{status}}</td>
        <td>
            <form action="/updateOrder" method="post">
                <input type="hidden" name="status" value="{{nextStatus}}" />
                <input type="hidden" name="id" value="{{index}}" />
                <input type="submit" value="{{submitText}}" />
            </form>
        </td>
    </tr>
    {{/orders}}
</table>

{{> footer}}